$main-black: #000000;
$main-white: #FFFFFF;
$main-purple: #7653FC;
$main-green: #1DC37E;
$light-green: #C8F8E4;
$main-red: #FC836D;

$text-main: #3B434E;
$text-secondary: #787D85;
$text-input-placeholder: #A4A4A4;

$background-blue: #F9F8FF;
$background-grey: #D2D2D2;
$background-grey-star: #E2E2E2;
$background-light-grey: #EBEBEB;
$background-semi-grey: #E5E5E5;
$background-semi-blue: #B3C0D9;
$background-line-grey: #DFDFDF;

$dark-red: #DE0000;
$golden: #DCB44E;

$main-purple-hover: #6142d9;
$main-purple-active: #5138c0;