.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  width: 100%;
  height: 72px;

  background-color: $main-purple;
}

p.copyright  {
  color: $main-white;
}

.linksContainer {
  display: flex;
  align-items: center;
  grid-gap: 40px;
}