.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 30px;
  min-height: 72px;

  background-color: $main-purple;
}

p.copyright  {
  color: $main-white;
}

.linksContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  grid-gap: 40px;
}